<a href="https://colab.research.google.com/github/Lmek181/Mtech-example/blob/main/Assignment_05_EDA_on_Data_Science_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/ajaverett/data/refs/heads/main/data_analytics_salaries.csv")

df['salary_in_usd'].mean()

np.float64(112297.86985172982)

In [26]:
entry=df[(df['experience_level']=='EN') &(df['employment_type']=='FT')]
entry['salary_in_usd'].mean()

np.float64(64457.45569620253)

In [31]:
df[['experience_level', 'salary']].groupby('experience_level').mean().sort_values(by='salary')

                         salary
experience_level
SE                213949.353571
EN                264622.454545
EX                427072.115385
MI                480617.690141

In [33]:
remote=df[['remote_ratio','experience_level']].groupby('experience_level').mean().sort_values(by='remote_ratio')
remote

                  remote_ratio
experience_level
MI                   63.849765
EN                   69.886364
SE                   75.892857
EX                   78.846154

In [48]:
increase_remote = (df
 [df['work_year']==2022]
  .filter(items=['remote_ratio','experience_level'])
  .groupby('experience_level')
  .mean()
  .reset_index()
  .sort_values(by='remote_ratio')
)
increase_remote

  experience_level  remote_ratio
2               MI     60.989011
0               EN     73.809524
3               SE     78.238342
1               EX     92.307692

In [67]:
US_job = (df
    [df['company_location']=='US']
    .filter(items=['job_title','company_location'])
    .groupby('job_title')
    .agg({'company_location':'sum'})
    .reset_index()
    .sort_values(by='job_title',ascending=True)
)
US_job

,job_title,company_location
0,AI Scientist,USUSUSUS
1,Analytics Engineer,USUSUSUS
2,Applied Data Scientist,USUSUS
3,Applied Machine Learning Scientist,USUSUS
4,BI Data Analyst,USUSUSUSUS
5,Big Data Engineer,US
6,Business Data Analyst,USUS
7,Cloud Data Engineer,US
8,Computer Vision Engineer,USUS
9,Computer Vision Software Engineer,USUS
10,Data Analyst,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...
11,Data Analytics Engineer,US
12,Data Analytics Lead,US
13,Data Analytics Manager,USUSUSUSUSUSUS
14,Data Architect,USUSUSUSUSUSUSUSUS
15,Data Engineer,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...
16,Data Engineering Manager,USUSUS
17,Data Science Consultant,USUS
18,Data Science Manager,USUSUSUSUSUSUSUSUSUS
19,Data Scientist,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...
20,Data Specialist,US
21,Director of Data Engineering,US
22,Director of Data Science,USUS
23,Financial Data Analyst,USUS
24,Head of Data,USUS
25,Head of Data Science,USUSUS
26,Lead Data Analyst,USUS
27,Lead Data Engineer,USUSUS
28,Lead Data Scientist,US
29,ML Engineer,USUS
30,Machine Learning Engineer,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS
31,Machine Learning Infrastructure Engineer,US
32,Machine Learning Scientist,USUSUSUSUS
33,NLP Engineer,US
34,Principal Data Analyst,US
35,Principal Data Engineer,USUSUS
36,Principal Data Scientist,USUSUSUS
37,Research Scientist,USUSUSUS
38,Staff Data Scientist,US

In [4]:
job_US=df[(df['company_location']=='US') &(df['job_title']=='Data Scientist')]

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
32,32,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
40,40,2020,MI,FT,Data Scientist,45760,USD,45760,PH,100,US,S
48,48,2020,MI,FT,Data Scientist,105000,USD,105000,US,100,US,L
57,57,2020,MI,FT,Data Scientist,118000,USD,118000,US,100,US,M
58,58,2020,SE,FT,Data Scientist,120000,USD,120000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
592,592,2022,SE,FT,Data Scientist,230000,USD,230000,US,100,US,M
593,593,2022,SE,FT,Data Scientist,150000,USD,150000,US,100,US,M
596,596,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
598,598,2022,MI,FT,Data Scientist,160000,USD,160000,US,100,US,M
599,599,2022,MI,FT,Data Scientist,130000,USD,130000,US,100,US,M

In [23]:
median_salary = (df
 .filter(items=['job_title', 'salary_in_usd'])
  .groupby('job_title')
  .median()
  .reset_index()
  .sort_values(by='job_title',ascending=True)
)
median_salary

                                   job_title  salary_in_usd
0              3D Computer Vision Researcher         5409.0
1                               AI Scientist        45896.0
2                         Analytics Engineer       179850.0
3                     Applied Data Scientist       157000.0
4         Applied Machine Learning Scientist        56700.0
5                            BI Data Analyst        76500.0
6                         Big Data Architect        99703.0
7                          Big Data Engineer        41305.5
8                      Business Data Analyst        70912.0
9                        Cloud Data Engineer       124647.0
10                  Computer Vision Engineer        26304.5
11         Computer Vision Software Engineer        95746.0
12                              Data Analyst        90320.0
13                   Data Analytics Engineer        64598.5
14                       Data Analytics Lead       405000.0
15                    Data Analytics Manager       120000.0
16                            Data Architect       180000.0
17                             Data Engineer       105500.0
18                  Data Engineering Manager       150000.0
19                   Data Science Consultant        76833.0
20                     Data Science Engineer        60000.0
21                      Data Science Manager       155750.0
22                            Data Scientist       103691.0
23                           Data Specialist       165000.0
24              Director of Data Engineering       156738.0
25                  Director of Data Science       168000.0
26                             ETL Developer        54957.0
27                      Finance Data Analyst        61896.0
28                    Financial Data Analyst       275000.0
29                              Head of Data       200000.0
30                      Head of Data Science       138937.5
31                  Head of Machine Learning        79039.0
32                         Lead Data Analyst        87000.0
33                        Lead Data Engineer       121593.5
34                       Lead Data Scientist       115000.0
35            Lead Machine Learning Engineer        87932.0
36                               ML Engineer        70537.5
37                Machine Learning Developer        78791.0
38                 Machine Learning Engineer        87932.0
39  Machine Learning Infrastructure Engineer        58255.0
40                  Machine Learning Manager       117104.0
41                Machine Learning Scientist       156500.0
42                    Marketing Data Analyst        88654.0
43                              NLP Engineer        37236.0
44                    Principal Data Analyst       122500.0
45                   Principal Data Engineer       200000.0
46                  Principal Data Scientist       173762.0
47                      Product Data Analyst        13036.0
48                        Research Scientist        76263.5
49                      Staff Data Scientist       105000.0

In [11]:
(df
 .filter(items=['job_title', 'salary_in_usd'])
  .groupby('job_title')
  .std()
  .reset_index()
  .sort_values(by='job_title',ascending=True)
)

                                   job_title  salary_in_usd
0              3D Computer Vision Researcher            NaN
1                               AI Scientist   70152.164338
2                         Analytics Engineer   29508.077990
3                     Applied Data Scientist  123647.186470
4         Applied Machine Learning Scientist  188246.696933
5                            BI Data Analyst   50989.558548
6                         Big Data Architect            NaN
7                          Big Data Engineer   42954.761263
8                      Business Data Analyst   43814.851149
9                        Cloud Data Engineer   49996.692071
10                  Computer Vision Engineer   42984.849627
11         Computer Vision Software Engineer   40837.795060
12                              Data Analyst   39961.075848
13                   Data Analytics Engineer   38628.114143
14                       Data Analytics Lead            NaN
15                    Data Analytics Manager   17853.383299
16                            Data Architect   45714.721424
17                             Data Engineer   57629.082107
18                  Data Engineering Manager   50374.695033
19                   Data Science Consultant   30961.654417
20                     Data Science Engineer   45617.444737
21                      Data Science Manager   52589.180497
22                            Data Scientist   64112.840519
23                           Data Specialist            NaN
24              Director of Data Engineering   61181.707135
25                  Director of Data Science   70015.787970
26                             ETL Developer       0.000000
27                      Finance Data Analyst            NaN
28                    Financial Data Analyst  247487.373415
29                              Head of Data   88780.420706
30                      Head of Data Science   62122.055178
31                  Head of Machine Learning            NaN
32                         Lead Data Analyst   75330.383160
33                        Lead Data Engineer   74845.891227
34                       Lead Data Scientist   74715.181188
35            Lead Machine Learning Engineer            NaN
36                               ML Engineer  115217.451253
37                Machine Learning Developer   12245.021859
38                 Machine Learning Engineer   63218.626439
39  Machine Learning Infrastructure Engineer   81381.030806
40                  Machine Learning Manager            NaN
41                Machine Learning Scientist   79514.714496
42                    Marketing Data Analyst            NaN
43                              NLP Engineer            NaN
44                    Principal Data Analyst   67175.144213
45                   Principal Data Engineer  235389.747724
46                  Principal Data Scientist   94705.038268
47                      Product Data Analyst    9848.583248
48                        Research Scientist   98542.763968
49                      Staff Data Scientist            NaN

In [12]:
(df
 .filter(items=['job_title', 'salary_in_usd'])
  .groupby('job_title')
  .mean()
  .reset_index()
  .sort_values(by='job_title',ascending=True)
)

                                   job_title  salary_in_usd
0              3D Computer Vision Researcher    5409.000000
1                               AI Scientist   66135.571429
2                         Analytics Engineer  175000.000000
3                     Applied Data Scientist  175655.000000
4         Applied Machine Learning Scientist  142068.750000
5                            BI Data Analyst   74755.166667
6                         Big Data Architect   99703.000000
7                          Big Data Engineer   51974.000000
8                      Business Data Analyst   76691.200000
9                        Cloud Data Engineer  124647.000000
10                  Computer Vision Engineer   44419.333333
11         Computer Vision Software Engineer  105248.666667
12                              Data Analyst   92893.061856
13                   Data Analytics Engineer   64799.250000
14                       Data Analytics Lead  405000.000000
15                    Data Analytics Manager  127134.285714
16                            Data Architect  177873.909091
17                             Data Engineer  112725.000000
18                  Data Engineering Manager  123227.200000
19                   Data Science Consultant   69420.714286
20                     Data Science Engineer   75803.333333
21                      Data Science Manager  158328.500000
22                            Data Scientist  108187.832168
23                           Data Specialist  165000.000000
24              Director of Data Engineering  156738.000000
25                  Director of Data Science  195074.000000
26                             ETL Developer   54957.000000
27                      Finance Data Analyst   61896.000000
28                    Financial Data Analyst  275000.000000
29                              Head of Data  160162.600000
30                      Head of Data Science  146718.750000
31                  Head of Machine Learning   79039.000000
32                         Lead Data Analyst   92203.000000
33                        Lead Data Engineer  139724.500000
34                       Lead Data Scientist  115190.000000
35            Lead Machine Learning Engineer   87932.000000
36                               ML Engineer  117504.000000
37                Machine Learning Developer   85860.666667
38                 Machine Learning Engineer  104880.146341
39  Machine Learning Infrastructure Engineer  101145.000000
40                  Machine Learning Manager  117104.000000
41                Machine Learning Scientist  158412.500000
42                    Marketing Data Analyst   88654.000000
43                              NLP Engineer   37236.000000
44                    Principal Data Analyst  122500.000000
45                   Principal Data Engineer  328333.333333
46                  Principal Data Scientist  215242.428571
47                      Product Data Analyst   13036.000000
48                        Research Scientist  109019.500000
49                      Staff Data Scientist  105000.000000

In [22]:
(df
 .groupby('work_year')
 .agg({'salary':'mean'})
)

                  salary
work_year
2020       382386.236111
2021       546677.387097
2022       158827.786164

In [29]:
(df
 .filter(items=['work_year'==2021, 'salary','job_title'])
  .groupby('salary')
  .mean()
  .reset_index()
  .sort_values(by='work_year',ascending=True)
)

TypeError: agg function failed [how->mean,dtype->object]

In [12]:
df.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')